<div class = "container__small-card">
    <div class = "container__small-card-content">
        <div class = "small-card__photo">
            <img 
                src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcafetiria.wordpress.com%2F2016%2F09%2F30%2F25-bancos-de-imagens-gratis-sem-direitos-autorais-cc0%2F&psig=AOvVaw09UPpqfvHoyxO_tl_px-uq&ust=1744290567816000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjcze-Cy4wDFQAAAAAdAAAAABAE" 
                alt="" 
                srcset="">
            </div>
            <div class = "small-card__title">
                <h1>
                    <a href="#">
                    Sua vida se tornará produtiva 
                    </a>
                </h1>
    </div> 
    <div class = "container__small-card__separator"></div> 
        <hr>  
    </div>
</div>



